@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

:root {
  --background: #fff9f3;
  --card-background: #fff;
  --foreground: #886642;
  --cta: #d6a15c;
  --cta-hover: #b6884d;
  --disabled: #c4bbaf;

  --bp-mobile: 640px;
  --bp-tablet: 768px;
  --bp-desktop: 1024px;
  --bp-wide: 1280px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  direction: rtl;
}

html,
body {
  max-width: 100vw;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;

  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;

  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(35px, 3.4vw, 40px);
  text-align: right;
  color: var(--foreground);
  padding-inline: 1ch;
  line-height: .9;

  --s: 60px;
  --c1: #ffffff;
  --c2: var(--background);
  --_g: #0000 83%, var(--c1) 85% 99%, #0000 101%;
  background:
    radial-gradient(27% 29% at right, var(--_g)) calc(var(--s)/ 2) var(--s),
    radial-gradient(27% 29% at left, var(--_g)) calc(var(--s)/-2) var(--s),
    radial-gradient(29% 27% at top, var(--_g)) 0 calc(var(--s)/ 2),
    radial-gradient(29% 27% at bottom, var(--_g)) 0 calc(var(--s)/-2) var(--c2);
  background-size: calc(2*var(--s)) calc(2*var(--s));

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  font-weight: inherit;
}

h1,
h2 {
  font-size: 55px;

}

h3 {
  font-size: inherit;
}

a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  text-decoration-thickness: 2px;

  &.active {
    font-weight: bold;
    pointer-events: none;
    text-decoration: none;
  }
}

input,
button {
  direction: inherit;
  font-family: inherit;

}

input:disabled,
button:disabled {
  background-color: var(--disabled);
  cursor: not-allowed;
}

button {
  display: block;
  width: 100%;
  color: white;
  font-size: 30px;
  padding: 12px 12px 14px;
  background-color: var(--cta);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  line-height: .7;
  transition: .1s;
}

button:hover:not(:disabled) {
  background-color: var(--cta-hover);
}

input,
output {
  font-size: inherit;
}

input {
  width: 100%;
  background-color: transparent;
  border-width: 0 0 1px 0;
  border-color: var(--foreground);

  &[type="date"] {
    cursor: pointer;
  }
}

hr {
  border: solid 1px var(--foreground);
}

form,
table {
  background-color: var(--card-background);
  box-shadow: 0 0 10px -5px #999;
  border-radius: 20px;
  padding: 1ch;
}

form {
  overflow: hidden;
  position: relative;

  &:has(button.pending) {
    opacity: .4;
    pointer-events: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  font-weight: inherit;
  padding: 16px 12px;
  font-size: clamp(23px, 2.5vw, 30px);
}

th {
  color: white;
  background-color: var(--foreground);

  &:first-child {
    border-top-right-radius: 20px;
    padding-inline-start: 12px;
  }

  &:last-child {
    border-top-left-radius: 20px;
  }
}

tr {
  border-bottom: solid 1px;

  &:last-child {
    border: none;
  }
}

td button {
  display: inline-block;
  width: auto;
  padding-inline: 20px;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 20px;

  border: 0;
}

legend {
  margin-block-end: 20px;
}

caption {
  text-align: inherit;
  margin-block-end: 20px;
}

.error {
  color: tomato;
}