.main {
  display: grid;
  grid-template-areas:
    "intro intro"
    "products order-summary";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 1ch;
  place-self: center;
  align-items: start;
}

@media (max-width: 1280px) {
  .main {
    grid-template-areas:
      "intro"
      "products"
      "order-summary";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
  }
}

.intro {
  grid-area: intro;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1ch;

  font-size: clamp(26px, 2.6vw, 30px);
  line-height: 1.2;
  margin-block-end: 2ch;
  text-align: center;
}

@media (max-width: 1280px) {
  .intro {
    grid-template-areas:
      "intro"
      "products"
      "order-summary";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
  }
}

.welcome-msg {
  max-width: 460px;
}

.pickup-instructions {
  max-width: 370px;
  color: var(--background);
  background-color: var(--foreground);
  padding: 1ch 3ch;
  border-radius: 20px;
  border: solid 5px var(--cta);
  box-shadow: 0 0 10px -5px #999;
}

.nav-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: .5ch;

  color: var(--background);
  background-color: var(--cta);
  padding: 7px 15px;
  border-radius: 10px;
  transition: .1s;
}

.nav-btn:hover {
  background-color: var(--cta-hover);
}