.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto;
  grid-template-areas:
    "nav logo logout";
  align-items: center;
  margin: 20px 0 40px;
  gap: 20px;
}

@media (max-width: 700px) {
  .header {
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      ". logo logout"
      ". nav .";
  }
}

.header-nav {
  grid-area: nav;
  place-content: center;
  display: flex;
  gap: 2.5vw;
}

@media (max-width: 700px) {
  .header-nav {
    gap: 6vw;
  }
}

.logo-container {
  grid-area: logo;
  flex: 1;

  position: relative;
  height: 70px;
  width: 100%;
}

.logo-container img {
  object-fit: contain;
}

.logout-btn {
  grid-area: logout;
  flex: .2;
}