.order-form {
  display: grid;
  grid-template-rows: repeat(5, auto);
  grid-template-columns: 1fr;
  gap: 1.5ch;
}

.input-group {
  display: grid;
  grid-template-areas:
    "label input";
  grid-template-rows: 1fr;
  grid-template-columns: auto 1fr;
  gap: 1ch;

  &.slice-toggle {
    grid-template-areas:
      "input label";
    grid-template-columns: 20px auto;
    grid-template-rows: auto;

    & label {
      place-self: start;
    }

    & input {
      place-self: center;
      aspect-ratio: 1 / 1;
    }
  }
}

.input-group:last-of-type {
  margin-block-end: 3ch;
}

.input-group label {
  grid-area: label;
  place-self: end;
  white-space: nowrap;
}

.input-group input {
  grid-area: input;
  place-self: end stretch;
  width: 100%;
}

.slice-options {
  display: flex;
  flex-direction: column;

  & .option-inputs-container {
    display: flex;

    & .option-input {
      flex: 1;
    }
  }
}

.success-msg,
.fail-msg {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  padding-block-end: 20px;
}