.product-list {
  grid-area: products;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1ch;
}

.product-list li {
  list-style: none;
}

@media (max-width: 1280px) {
  .product-list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

@media (max-width: 909px) {
  .product-list {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}