.product-item {
  display: grid;
  grid-template-areas:
    "header image"
    "price image"
    "footer image"
  ;
  grid-template-rows: 1fr auto auto;
  grid-template-columns: 1fr 200px;

  height: 100%;
  background-color: var(--card-background);
  box-shadow: 0 0 10px -5px #999;
  border-radius: 20px;
  padding: 1ch;
  gap: 1ch;
}

@media (max-width: 530px) {
  .product-item {
    grid-template-areas:
      "image"
      "header"
      "price"
      "footer"
    ;
    grid-template-rows: auto;
    grid-template-columns: 1fr;

    text-align: center;
    place-items: center;
  }
}

.header {
  grid-area: header;
}

.product-pricing {
  grid-area: price;
  align-self: end;
  display: flex;
  font-size: 30px;
}

.image {
  grid-area: image;

  width: 100%;
  align-self: end;
}

@media (max-width: 530px) {
  .image {
    width: clamp(100px, 50vw, 200px);
  }
}

.footer {
  grid-area: footer;
  align-self: end;
}